.weui-agree {
    display: block;
    padding: 0.5em 15px;
    font-size: 13px;
}
.weui-agree__checkbox {
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    font-size: 0;
    border: 1px solid #d1d1d1;
    background-color:#ffffff;
    border-radius: 3px;
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
}
.weui-agree__text {
    color: #808080;
}
.weui-agree a {
    color: #586c94;
}